@font-face {
    font-family: Game of Thrones;
    src: url(../../assets/GameOfThrones.ttf);
}
  
h4 {
    font-family: 'Game of Thrones', fallback, sans-serif;
}

.title-container {
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 150px;
    background-color: #2F2F2F;
    padding: 0px;
}

.card {
    cursor: pointer;
}

.card > .overlay {
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    left: 0;
    background-color:#000;
    opacity:0.5;
    z-index: 100;
    display: block;
}

.card:hover > .overlay {
    display: none;
}