html {
    background-color: #2F2F2F;
}

@font-face {
    font-family: Game of Thrones;
    src: url(assets/GameOfThrones.ttf);
}

body {
    background-color: #2F2F2F;
    color: white;
    font-family: 'Game of Thrones', fallback, sans-serif;
}